@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');


:root{
    --green:#4CAF50;
    --pink: #FF6F61;
    --bg-color: #1c1c1e;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.nav-logo a img{
    width: 7rem;
    height: 8rem;
}

.nav-logo {
    width: 8rem;

}
.nav-links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links ul li a{
    text-decoration: none;
    color: black;
}

.quick-links ul li a{
    text-decoration: none;
    color: black;
}

.nav-links ul li{
    padding-right: 2rem;
}

.nav-button{
    background-color: #FF6F61;
    color: white;
    cursor: pointer;
    width: 8rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
}

.hero-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 7rem;
}

.hero1-img img{
    width: 25rem;
    height: 20rem;
    border-radius: 1rem;
}

.hero-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 7rem;
}

.features-title{
    color: #467e48;
    font-weight: 900;
    font-size: 2.41rem;
    width: 32rem;
    margin-bottom: 0.7rem;
   
}

.smoothie-features{
    width: 35rem;
}

button{
    background-color: #FF6F61;
    color: white;
    cursor: pointer;
    width: 6rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 0;
    margin-top: 1rem;
}

.features-header{
    color: #467e48;
    font-weight: 900;
    margin-bottom: 2.5rem;
}

.feauture h3{
    color: #FF6F61;
    font-weight: 900;
    margin-bottom: 1rem;
}

.feauture p{
    margin-bottom: 1rem;
}

.hero-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.subheadings{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.open-opportunities h2{
    color: #467e48;
    font-weight: 900;
    margin-bottom: 1.25rem;
}

.subheading h3{
    color: #FF6F61;
    font-weight: 900;
    padding-bottom: 1.2rem;
}

.open-opportunities{
    width: 35rem;
}



.subheading{
    width: 14rem;
}

.enquiry-case{
    background-image: url(../assets/enquiry_background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.enquiry {
  
    background-color: white;
    padding: 3.5rem;
    width: 35rem;
    display: grid;
    place-self: center;
    text-align: center;
    border-radius: 1rem;
   
}

.enquire-button{
    display: grid;
    place-self: center;
}
.enquiry h1{
    color: #467e48;
    margin-bottom: 1rem;

}

.image-video h2{
    color: #467e48;
    text-align: center;
    font-weight: 900;
    padding-top: 5rem;
    margin-bottom: 1.5rem;
}

.image-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.25rem;
}

.image-row img{
    width: 15rem;
    height: 20rem;
    border-radius: 1rem;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-logo a img{
    width: 7rem;
    height: 8rem;
}

.copyright{
    margin-top: 2rem;
}

.footer-case{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.footer-header{
    color: #467e48;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.carousel{
    margin-top: 6rem;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 400%;
}

.carousel-video{
    flex: 0 0 100%;
    width: 100%;
    height: 50vh;
    object-fit: cover;
}



/* Phone screen responsivness */
@media (max-width: 480px){
        .footer{
            display: flex;
            flex-direction: column;
           justify-content: center;
           align-items: center;
           text-align: center;
           line-height: 2rem;
           
            

        }
    
        .hero-1,  .hero-3{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 7rem;
        }

        .hero-2{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            margin-bottom: 7rem;
        }

        .smoothie-features{
            width: 80%;
            display: grid;
            place-self: center;
            margin-bottom: 2rem;
        }

        .features-header{
            font-size: 1.25rem;
        }

        .feauture h3{
            font-size: 1rem;
        }
        .subheadings{
            display: flex;
            flex-direction: column;
            justify-content: center;
           align-items: center;
          
        }
        .subheading{
            margin-bottom: 2rem;
        }
        .image-row{
            display: flex;
            flex-direction: column;
            margin-bottom: 1.25rem;
            justify-content: center;
            align-items: center;
        }
        
        .image-row img{
           margin-bottom: 3rem;
        }
        
        .features-title{
            font-size: 1.5rem;
            width: 100%;
        }
        .opening-hours{
            margin-top: 3rem;
        }
        .quick-links{
            margin-top: 3rem;
        }
        .location{
            margin-top: 3rem;
        }
        .enquiry h1{
            color: #467e48;
            margin-bottom: 1rem;
            font-size: 1.25rem;
        
        }
        .open-opportunities{
            width: 80%;
            display: grid;
            place-self: center;
            margin-bottom: 2rem;
        }
        .open-opportunities h2{
            font-size: 1.25rem;
        }

        .subheading h3{
            font-size: 1rem;
        }

        .enquiry-case{
            width: 100%;
        }

        .enquiry{
                background-color: white;
                padding-top: 3.5rem;
                padding-bottom: 3.5rem;
                padding-left: 0;
                padding-right: 0;
                display: grid;
                place-self: center;
                text-align: center;
                border-radius: 1rem;
                width: 25rem;
        }

        .smoothie-features2{
            display: grid;
            place-self: center;
            width: 80%;
            margin-bottom: 2rem;
        }

        .hero1-img img{
            width: 13rem;
            height: 15rem;
            border-radius: 1rem;
        }
}